<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body style="height: 100vh; width: 100vw; margin: 0; background-color: #333333; display: flex; align-items: center; justify-content: center; flex-direction: column;">
  <img src="../static/icon.png" style="width: 40vmin; height: auto;" />
  <h1 style="font-family: 'Baloo 2', cursive; color: white; font-size: 50px; margin: 0;">QUIMSCANNER</h1>
  <h2 style="font-family: 'Baloo 2', cursive; font-weight: 400; margin: 0; color: white">IMAGES API</h2>
</body>
</html>